// TODO
//
// DUMP THE PIXELS
// More variables!

@import 'extends/button';

.button {
  @include button-variant($white, $color-primary);
  @include fsRem(16px);
  display: inline-block;
  padding: $rh-small $rh-xlarge;
  border-style: solid;
  border-width: 0;
  border-radius: 2px;
  line-height: 1;
  text-decoration: none;
  vertical-align: baseline;

  &:active,
  &.active {
    outline: 0;
  }

  &--secondary {
    @include button-variant($white, $color-secondary);
  }
  &--tertiary {
    @include button-variant($base-font-color, $gray-light);
  }
  &--outline {
    @include button-variant($base-font-color, ($white, $gray-xlight), $base-font-color);
    border-width: 1px;
    padding: 9px 11px;
  }
  &--text {
    @include button-variant($base-font-color, transparent);
    text-decoration: underline;
    padding: 0;
  }

  // Disabled
  &--disabled,
  &[disabled] {
    @include button-variant($white, $gray-light);
    // opacity: 0.65;
    cursor: not-allowed;
  }

  &--xlarge {
    @include fsRem(24px);
    padding: 18px 24px;
    &.button--outline {
      padding: 16px 22px;
      border-width: 2px;
    }
    &.button--text {
      padding: 0;
    }
  }
  &--large {
    @include fsRem(20px);
    padding: 14px 18px;
    &.button--outline {
      padding: 13px 17px;
    }
    &.button--text {
      padding: 0;
    }
  }
  // &--medium {
  //   &.button--text {
  //     padding: 0;
  //   }
  // }
  &--small {
    @include fsRem(14px);
    padding: 6px 8px;
    &.button--outline {
      padding: 5px 7px;
    }
    &.button--text {
      padding: 0;
    }
  }

  // Block button
  &--block {
    display: block;
    width: 100%;
  }

  // Children
  .icon:only-child {
    width: 24px;
    height: 24px;
    vertical-align: text-top;
    margin: 0;
  }
}
