// TODO
// ALLES HERZIEN

.icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 12px;
  }
  small > & {
    width: 12px;
    height: 12px;
    top: -2px;
  }
}
