// Mixins
@mixin container-fluid($gutter: $grid-container-gutter) {
  // @include cf();
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-column-gutter) {
  // @include cf();
  margin-top: -$gutter;
  margin-right: ($gutter / -2);
  margin-left:  ($gutter / -2);
}

// Creates a single column
@mixin make-column($index, $columns: $grid-column-count, $gutter: $grid-column-gutter) {
  flex: 0 0 round(percentage($index / $columns)*1000) / 1000;
  max-width: round(percentage($index / $columns)*1000) / 1000;
}

@mixin make-repeating-column($index) {
  width: round(percentage(10 / $index)*1000)/10000;
  > * {
    flex: none;
  }
}

@mixin make-column-offset($index, $columns: $grid-column-count) {
  margin-left: round(percentage($index / $columns)*1000)/1000;
}
