$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 800 !default;
$font-weight-base: $font-weight-regular !default;

$global-font-size-small: 14px !default;
$global-font-size: 16px !default;
$global-font-size-large: 18px !default;
$global-font-color: $black !default;
$global-font-family: 'Rubik', 'Arial', sans-serif !default;
$global-line-height: 22px;

$headings: h1, h2, h3, h4, h5;
$headings-font-color: $color-primary !default;
$headings-font-family: 'Montserrat', 'Arial', sans-serif !default;
$headings-font-weight: $font-weight-regular !default;
$headings-line-height: 1.2 !default;

$headings-color-alt: null !default;

$textBlocks: address, blockquote, dl, fieldset, figure, ol, p, pre, ul;

@import 'extends/typo';

:root {
  font-size: $global-font-size;
}

body {
  color: $global-font-color;
  font-family: $global-font-family;
  line-height: lh($global-line-height);
}

#{$textBlocks} {
  margin: 0 0 $rh-small;
  @at-root * + & {
    margin-top: $rh-small;
  }
}

%ext-heading {
  margin: 0 0 $rh-medium;
  color: $headings-font-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  text-transform: none;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    @include link-variant(inherit);
    text-decoration: none;
    position: relative;
    .icon {
      @include transitions(all);
      position: absolute;
      right: 0;
      top: 0;
      color: $color-primary;
      opacity: 0;
    }
  }
}

.heading {
  &--alt {
    color: $color-secondary;
  }
  &--1 {
    @extend %ext-heading;
    // @include fsRem($font-size-h1 * .7);
    color: $color-primary;

    // @include breakpoint(map-get($breakpoints, med)) {
      // @include fsRem($font-size-h1);
    // }

    // // Variants
    // @include breakpoint(map-get($breakpoints, xsm)){
    //   @include fsRem($font-size-h1 * .6);
    // };
    // @include breakpoint(map-get($breakpoints, sml)){
    //   @include fsRem($font-size-h1 * .75);
    // };
    // @include breakpoint(map-get($breakpoints, med)){
    //   @include fsRem($font-size-h1);
    // };
  }
  &--2 {
    @extend %ext-heading;
    // @include fsRem($font-size-h2);
    // @include fsRem($font-size-h2 * .75);
    // // Variants
    // @include breakpoint(map-get($breakpoints, sml)){
    //   @include fsRem($font-size-h2);
    // };
  }
  &--3 {
    @extend %ext-heading;
    // @include fsRem($font-size-h3);
    // @include fsRem($font-size-h3 * .8);
    // // Variants
    // @include breakpoint(map-get($breakpoints, sml)){
    //   @include fsRem($font-size-h3);
    // };
  }
  &--4 {
    @extend %ext-heading;
    // @include fsRem($font-size-h4);
  }
  &--5 {
    @extend %ext-heading;
    // @include fsRem($font-size-h5);
  }
  @if global-variable-exists(headings-color-alt) {
    &--alt {
      color: $headings-color-alt;
    }
  }
}

h1 {
  @extend .heading--1;
}
h2 {
  @extend .heading--2;
}
h3 {
  @extend .heading--3;
}
h4 {
  @extend .heading--4;
}
h5 {
  @extend .heading--5;
}

#{$headings} {
  @at-root * + & {
    margin-top: $rh-large;
  }
}

.heading--border {
  padding-bottom: $rh-xsmall;
  border-bottom: 1px solid currentColor;
}
