.c-option {
  display: block;
  border: $input-border-width solid $option-border-color;
  padding: $option-padding;
  padding-left: ($option-padding * 2) + 24px;
  border-radius: $input-border-radius;
  color: $option-color;
  & + & {
    margin-top: $rh-small;
  }
  &:hover {
    border: 2px solid $option-hover-border-color;
  }
}
.c-option__input {
  position: absolute;
  left: $option-padding;
}
.c-option__label {
  display: block;
}

