$inline-nav-font-size: $global-font-size-large !default;

.inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: (-$rh-medium) 0 0 (-$rh-medium);

  > * {
    margin-left: $rh-medium;
    margin-top: $rh-medium;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &--small {
    margin-top: (-$rh-small);
    margin-left: (-$rh-small);

    > * {
      margin-left: $rh-small;
      margin-top: $rh-small;
    }
  }

  &--large {
    margin-top: (-$rh-large);
    margin-left: (-$rh-large);

    > * {
      margin-left: $rh-large;
      margin-top: $rh-large;
    }
  }

  &--nav {
    a {
      @include fsRem($inline-nav-font-size);
      color: $color-muted;
      white-space: nowrap;
      display: inline-block;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $global-font-color;
      }
    }

    .is-active {
      a {
        color: $color-primary;
      }
    }
  }

  // @include hook-inline;
}
