$input-height: ($rh-base * 6);
$input-padding-vertical: 0;
$input-padding-horizontal: $rh-small;
$input-padding: $input-padding-vertical $input-padding-horizontal;
$input-border-width: 2px;
$input-border-radius: 4px;
$input-color: $black;
$input-background-color: $white;
$input-border-color: rgba($color-primary, .5);

$input-placeholder-color: rgba($color-primary, .5);

$input-focus-border-color: $color-primary;
$input-focus-background-color: $white;

$input-error-border-color: $color-alert;
$input-error-color: $black;

$input-disabled-color: rgba($color-primary, .5);
$input-disabled-border-color: $gray-light;
$input-disabled-background-color: $white;

$option-padding: $rh-small;
$option-color: $color-primary;
$option-border-color: rgba($color-primary, .5);

$option-hover-border-color: $color-primary;

@import 'extends/form';
@import 'form/field';
@import 'form/input';
@import 'form/select';
@import 'form/option';

form,
.c-form {
  margin-bottom: $rh-medium;
  &.is-submitted {
    position: relative;
    opacity: .5;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      cursor: wait;
      cursor: progress;
    }
  }
}
