// Variables
//
// $grid-rhythm               : The rythm (space) used in the grid
// $grid-column-count         : The total amount of columns
// $grid-column-gutter        : The amount of space between two columns, defaults to the rhythm
// $grid-container-width      : The total width of the container for large / medium / small
// $grid-columns              : The grid__[x] items that should be available
// $grid-offset               : The grid-offset__[x] items that should be available
$grid-column-count: 12 !default;
$grid-column-gutter: ($rh-base * 2) !default;
$grid-container-width: 1196px !default;
$grid-container-gutter: ($grid-column-gutter / 2) !default;
$grid-columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) !default;
$grid-offset: (3, 6) !default;
$grid-columns-repeating: (2, 3, 4) !default;
$grid-render-example: false !default;

// Mixins, functions, ...
@import 'extends/grid';

// CSS
.container {
  @include container-fluid();
  max-width: $grid-container-width;
}

.row {
  @include make-row(16px);
  display: flex;
  flex-wrap: wrap;
  > * {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    min-height: 1px;
    width: 100%;
    margin-top: $grid-column-gutter;
    padding-left: ($grid-column-gutter / 2);
    padding-right: ($grid-column-gutter / 2);
    @if $breakpoints-legacy {
      display: block;
      float: left;
    }
  }
}

@if $grid-columns {
  // Creates all the grid item classes
  // Examples: .grid__6
  @each $column in $grid-columns {
    .grid__#{$column} {
      @include make-column($column);
    }
  }

  // Creates all the breakpoint grid ITEM classes
  // Example: .grid__8--medium
  @each $bp, $px in $breakpoints {
    @each $column in $grid-columns {
      .grid__#{$column} {
        @include breakpoint($bp) {
          &--#{$bp} {
            @include make-column($column);
          }
        }
      }
    }
  }

  .grid__0 {
    display: none;
  }
  .grid__12 {
    display: block;
  }
}

@if $grid-offset {
  // Creates all the offset class
  // Example: .grid-offset__6
  @each $column in $grid-offset {
    .grid-offset__#{$column} {
      @include make-column-offset($column);
    }
  }
  // Example: .grid-offset__6--medium
  @each $bp, $px in $breakpoints {
    @each $column in $grid-offset {
      .grid-offset__#{$column} {
        @include breakpoint($bp) {
          &--#{$bp} {
            @include make-column-offset($column);
          }
        }
      }
    }
  }
}

@if $grid-columns-repeating {
  .row {
    // Creates all the breakpoint grid classes
    // Examples: .row-2-col
    @each $column in $grid-columns-repeating {
      &-#{$column}-col {
        > .grid__item {
          @include make-repeating-column($column);
        }
      }
    }

    // Creates all the breakpoint grid classes
    // Examples: .row-2-col--medium
    @each $bp, $px in $breakpoints {
      @each $column in $grid-columns-repeating {
        &-#{$column}-col {
          @include breakpoint($bp) {
            &--#{$bp} {
              > .grid__item {
                @include make-repeating-column($column);
              }
            }
          }
        }
      }
    }
  }
}


@if $grid-render-example {
  .grid__example {
    padding: $rh-medium;
    background: rgba($color-secondary, .35);
    font-family: $headings-font-family;
    text-align: center;
    &--high {
      height: 400px;
    }
  }
}
