// TODO
// ALLES HERZIEN

$mediaElements: (audio, canvas, iframe, img, svg, video);

#{$mediaElements} {
  vertical-align: middle;
}

img {
  // Grid defaults to get images and embeds to work properly
  max-width: 100%;
  height: auto;
  border: 0;
}

svg {
  fill: currentColor;
  &:not(:root) {
    overflow: hidden;
  }
}

.image {
  &--full-width {
    width: 100%;
    height: auto;
  }
  &--right {
    float: right;
    margin-left: $rh-medium;
    margin-bottom: $rh-medium * 0,5;
  }
  &--left {
    float: left;
    margin-right: $rh-medium;
    margin-bottom: $rh-medium * 0,5;
  }
}
