.c-option {
  display: block;
  position: relative;
  & + & {
    margin-top: $rh-small;
  }
}
.c-option__input {
  @extend .u-srOnly;
  &:focus:not(:checked) ~ .c-option__icon {
    color: rgba($input-color, .35);
  }
}
.c-option__label {
  @extend %ext-input-style;
  @include transitions((color, background, border));
  display: flex;
  align-items: center;
  padding-left: ($input-padding-horizontal * 1.75) + 24px;
  @at-root :checked ~ & {
    @extend %ext-input-style-hover;
  }
}
.c-option__icon {
  position: absolute;
  top: 50%;
  left: $input-padding-horizontal;
  color: transparent;
  fill: $gray-dark;
  transform: translateY(-50%);
  :checked ~ & {
    color: inherit;
  }
  :disabled ~ & {
    opacity: .3;
  }
}
